<section>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-6 mt-5 float-center">
          <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">Order has been Placed</h5>
    <a class="btn btn-primary" href="/orders">Manage Orders</a>
  </div>
   </div>
   </div>
    </div>
</div>
</section>